.footer {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 0px;
    padding: 10px;
    background-image: url("../../../public/header-bg.png");
    width: 100vw;
  }
  h1
  {
    color: rgb(211, 208, 208);
  }