
    <h1 class = "project_banner">Soumettre un projet</h1>
    <div class="submit-project-page">
      <form [formGroup]="projectForm" class="form-group">
        <label for="title">Titre</label>
        <input id="title" type="text" formControlName="title" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for="description">Description</label>
        <input id="description" type="text" formControlName="description" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for= "creatorName">Prenom</label>
        <input id="creatorName" type="text" formControlName="creatorName" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for ="creatorSurname">Nom</label>
        <input id="creatorSurname" type="text" formControlName="creatorSurname" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for="email">Email</label>
        <input id="email" type="" formControlName="email" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label>Tags</label>
        <input id="tags" type="text" formControlName="tags" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for ="creationDate">Date de creation</label>
        <input id="creationDate" type="date" formControlName="creationDate" class="form-control"> 
      </form>
      <form [formGroup]="projectForm" class="form-group">
        <label for ="url">Url repo</label>
        <input id="url" type="text" formControlName="url" class="form-control"> 
      </form>
      <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid" (click)="onSubmitForm()">Soumettre</button>
    </div>

