<div class="project-details-page" *ngIf="project$ | async as project">
    <h1 class="project_banner">{{ project.title }}</h1>
    <div class="project-meta">
      <span class="project-responsible"><strong>Responsable:</strong> {{ project.creatorName }} {{project.creatorSurname}}</span>
      <span class="project-contact"><strong>Contact: </strong> <a [href]="'mailto:' + project.email">{{ project.email }}</a></span>
    </div>
    <p class="project-description">{{ project.description }}</p>
    <div class="project-tags">
      <span *ngFor="let tag of project.tags" class="tag">{{ tag }}</span>
    </div>
    <div class="project-link">
      <a [href]="project.url" target="_blank">Voir le dépôt</a>
    </div>
    <button (click)="returnToProjects()">Retour liste des projets</button>
  </div>
  